/*CHANGE PAGES*/
.change-data {
	padding: 15px;
	border: 1px solid #d3d2d2;

	@media (min-width: $responsive-tablet) {
		padding: 25px;
	}

	.field {
		padding: 5px 0;
	}

	label {
    font-weight: 500;
    font-size: 16.57px;
    color: #1a1a18;
    display: block;
    margin-bottom: 5px;
	}

	input,
	select,
	textarea {
    display: block;
    border-radius: 3px;
    outline: none;
    border: 1px solid #bebdbc;
    display: block;
    width: 100%;
	}

	input {
		padding: 0 10px;
		height: 36px;
	}

	select {
		padding: 0 0 0 10px;
		max-width: 400px;
		height: 36px;
	}

	textarea {
		min-height: 60px;
		padding: 10px;

		@media (min-width: $responsive-tablet) {
			min-height: 180px;
		}
	}

	&+.submit-btns {
		margin-top: 20px;
		justify-content: flex-end;

		@media (min-width: $responsive-tablet) {
			margin-top: 30px;
		}
	}

	.btn {
    background: #649c11;
    height: 44px;
    width: 193px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13.75px;

    &:before {
    	display: block;
	    content: '';
	    width: 14px;
	    height: 14px;
	    margin-right: 15px;
	    background: url(assets/images/icons.png) no-repeat 0px -461px;
    }

    &:hover {
    	background: #5b8e0f;
    }

    &+p {
    	margin-top: 10px;
    	font-weight: 500;
    	font-size: 15px;
    	color: #1a1a18;
    	margin-bottom: 0;
    }
	}
}

.manage-store {

	.change-data {

		&+.buttons-panel {
			margin-top: 35px;
			justify-content: flex-end;

			.add {
				text-transform: uppercase;
				margin-right: 0;				
				max-width: 100%;
				white-space: nowrap;

				@media (min-width: $responsive-mobile) {
					max-width: 245px;
				}
			}
		}
	}
}